<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moodbooster"
    android:versionCode="2"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:icon="@drawable/moodbooster"
        android:label="@string/app_name" >
        
        <activity android:name=".HomeScreenActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.moodbooster.pam.PamActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName="com.moodbooster.HomeScreenActivity" >
            
	        <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.moodbooster.HomeScreenActivity" />
        </activity>
        
        <receiver android:name=".WallpaperReceiver"></receiver>
        
        <receiver android:name=".NotificationReceiver"></receiver>
        
        <receiver android:name=".BootReceiver"
            android:enabled="true">
	        <intent-filter>
	            <action android:name="android.intent.action.BOOT_COMPLETED" />
	            <action android:name="com.moodbooster.HomeScreenActivity" />
	        </intent-filter>
        </receiver>
        
        <receiver android:name=".UnlockPhoneReceiver">
	        <intent-filter> 
	            <action android:name="android.intent.action.SCREEN_ON" />
	            <action android:name="android.intent.action.SCREEN_OFF" />
				<action android:name="android.intent.action.USER_PRESENT" />
	        </intent-filter> 
    	</receiver>
        
    </application>

</manifest>